:root{

    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
 

    background: white;
    color: black;
}
*{
    margin:0px;
    padding:0px;
}
.cards{
    display:flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
}

